@import "../variables.scss";

.about-page {
  html,
  body,
  section {
    overflow-x: hidden;
  }

  // history section****************************************
  .history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 48px 16px 82px 16px;

    margin-top: 0;
    gap: 24px;

    // 1183
    @media screen and (min-width: $width-xl) {
      padding: 86px 0px 132px 0px;
      flex-direction: row;
      align-items: flex-start;
    }

    // 992-1183
    @media only screen and (min-width: $width-l) {
      padding: 48px 32px 96px 32px;
      flex-direction: row;
      align-items: flex-start;
    }

    // 360 - 991
    @media only screen and (min-width: $width-min-body) and (max-width: 991px) {
      flex-direction: column;
      padding: 48px 16px 82px 16px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      gap: 0;
    }
  }

  // container for img of history
  .history_image-thumb {
    border-radius: $border-radius-base;
    overflow: hidden;

    // 1183 image-thumb
    @media only screen and (min-width: $width-xl) {
      max-width: 542px;
      max-height: 332px;
    }
    // 992-1182 image-thumb
    @media only screen and (min-width: $width-l) and (max-width: 1182px) {
      max-width: 45%;
      height: 265px;
    }

    // 768 - 991 image-thumb
    @media only screen and (min-width: $width-m) and (max-width: 991px) {
      width: 100%;
      height: auto;
    }
    // 360-767
    @media only screen and (min-width: $width-min-body) and (max-width: 767px) {
      min-width: 315px;
      height: auto;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  // content for history
  .history-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    gap: 24px;
    // 1183 content
    @media only screen and (min-width: $width-xl) {
      margin-top: 0;
      max-width: 45%;
      max-height: 332px;
    }
    // 992-1182 content
    @media only screen and (min-width: $width-l) {
      max-width: 50%;
      height: auto;
      gap: 16px;
      margin-top: 0;
    }

    // 768-991 content
    @media only screen and (min-width: $width-m) and (max-width: 991px) {
      gap: 16px;
      margin-top: 32px;
      width: 100%;
      height: auto;
    }
    // 360 -767 content
    @media only screen and (min-width: $width-min-body) and (max-width: 767px) {
      gap: 24px;
      min-width: 310px;
      height: auto;
      margin-top: 32px;
    }
  }

  // container for text of history
  .history-content_description {
    color: $color-second-gray;
    text-align: justify;
    text-overflow: ellipsis;
  }

  .history-content_text {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    text-overflow: ellipsis;
    color: $color-text-primary;
  }

  // team section****************************************
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // 360 767
    @media only screen and (min-width: $width-m) {
      align-items: flex-start;
    }
  }

  .team_list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    justify-content: flex-start;
    margin: 0 -32px 0 0;
    gap: 0;
    padding-top: 17px;

    // 992
    @media only screen and (min-width: $width-l) {
      padding-top: 36px;
      justify-content: center;
    }
    // 768 991
    @media only screen and (min-width: $width-m) and (max-width: 991px) {
      justify-content: flex-start;
    }

    // 360 - 767
    @media only screen and (min-width: $width-min-body) and (max-width: 767px) {
      padding-top: 16px;
      justify-content: center;
    }
    @media only screen and (max-width: $width-min-body) {
      padding-top: 16px;
      justify-content: center;
    }
  }

  // CARDS
  .team-card {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 0 32px 32px 0;
    max-height: 341px;
    border-radius: $border-radius-base;
    overflow: hidden;
    flex-basis: 225px;

    // 1183
    @media only screen and (min-width: $width-xl) {
      flex-basis: 250px;
      height: 319px;
    }

    // 992-1182
    @media only screen and (min-width: $width-l) and (max-width: 1182px) {
      flex-basis: 208px;
      height: 263px;
    }
    // 768-991
    @media only screen and (min-width: $width-m) and (max-width: 991px) {
      flex-basis: 212px;
      height: 268px;
    }
    // 360-767
    @media only screen and (min-width: $width-min-body) and (max-width: 767px) {
      flex-basis: 256px;
      height: 319px;
    }
  }

  // TWO SIDEs of  team_CARDs for hover_effects
  .front-side,
  .back-side {
    background-size: cover;
    border-radius: $border-radius-base;
    transition: transform $transition-base;
    backface-visibility: hidden;
    transition: transform $transition-base;
    height: 238px;
    // 1183
    @media only screen and (min-width: $width-xl) {
      height: 248px;
    }
    // 992 -1182
    @media only screen and (min-width: $width-l) and (max-width: 1182px) {
      height: 203px;
    }
    // 768 - 1182
    @media only screen and (min-width: $width-m) and (max-width: 991px) {
      height: 208px;
    }
    // 360
    @media only screen and (min-width: $width-min-body) and (max-width: 767px) {
      height: 248px;
    }
  }

  .front-side {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .back-side {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(238, 238, 238, 0.88);
    margin-top: 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }

  // GLOW_TEXT ON CARD
  .back-side_text {
    padding: 24px 24px 32px 24px;
    font-family: $font-family-base;
    font-size: $font-size-base;
    text-align: center;
    font-weight: 400;
    line-height: $line-height-base;
    color: $color-text-primary;
  }

  // cards  hover only for desctop back-side
  @media only screen and (min-width: $width-xl) {
    // cards hover efects for  back-side
    .team-card:hover .back-side {
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }

    // cards  hover only for desctop  efects for  front-side
    .team-card:hover .front-side {
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }
  }
  // clase for js
  .rotate-180 {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
  // clase for js
  .rotate-0 {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

  // wrapp for text in _team_card
  .team-card_content {
    display: flex;

    flex-direction: column;
    padding: 14px 16px;
    z-index: 100;
    gap: 4px;
    flex: 1;
    overflow: hidden;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    background: linear-gradient(
      228deg,
      #3872e1 1.04%,
      #22aef8 48.54%,
      #32d299 99.8%
    );
    background-image: url(../../images/bg/bg_team_cards_mob_360.png);

    background-repeat: repeat;
    background-size: cover;

    //  1183
    @media screen and (min-width: $width-xl) {
      background-image: url(../../images/bg/bg_team_cards_desc.png);
      padding: 14px 16px;
    }
    // 992-1182
    @media screen and (min-width: $width-l) and (max-width: 1182px) {
      background-image: url(../../images/bg/bg_team_cards_tab_992.png);
      padding: 12px;
    }
    // 768-991
    @media screen and (min-width: $width-m) and (max-width: 991px) {
      background-image: url(../../images/bg/bg_team_cards_tab_768.png);
      padding: 14px 16px;
    }

    // 360-767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      background-image: url(../../images/bg/bg_team_cards_mob_360.png);
      padding: 14px 16px;
    }
  }
  // name and surname
  .content_title {
    align-self: stretch;
    font-family: $font-family-base;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    // 1183
    @media screen and (min-width: $width-xl) {
      font-size: 20px;
      line-height: $line-height-base;
    }
    // 992
    @media screen and (min-width: $width-l) {
      font-size: $font-size-base;
      line-height: 1;
    }
  }

  // team position
  .content_position {
    font-family: $font-family-base;
    color: $color-white;
    font-size: 14px;
    line-height: 116%;
  }

  // results_section**************************************************
  .results {
    margin-top: 60px;
  }

  .results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  // swiper for Results_section
  .results .swiperResults {
    display: flex;
    width: 100%;
    height: auto;
  
    justify-content: space-between;
    position: relative;
    // 1183
    @media screen and (min-width: $width-l) {
      margin-top: 24px;
    }

    // 768
    @media screen and (min-width: $width-m) {
      padding-top: 46px;
      padding-bottom: 46px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      padding-bottom: 22px;
    }
  }

  .results .swiper-slide {
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    transition: transform 0.5s;
    overflow: hidden;
    height: auto;
    width: 328px;
    // 768
    @media screen and (min-width: $width-m) {
      width: 355px;
    }
  }

  // for scale active slids
  // 768
  .results .swiper-slide.swiper-slide-active {
    @media screen and (min-width: $width-m) {
      transform: scale(1.4);
      z-index: 3;
      border-radius: $border-radius-base;
      overflow: hidden;
    }
  }

  .results img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  
  // buttons of swiper for results

  .results .button-prev,
  .results .button-next {
    top: auto;
    position: absolute;


    @media screen and (min-width: $width-xl) {
      bottom: 4%;
    }
    @media screen and (min-width: $width-m) and (max-width: 1182px) {
      bottom: 10%;
    
    }
    @media screen and (min-width: $width-min-body) and (max-width: 767px){
      bottom: 0;
    }

    svg {
      @media screen and (max-width: $width-l) {
        width: 12px;
        height: 24px;
      }
    }
  }

// prev 
  .results .button-prev {
    left: 27%;
    // 1183
    // 992-1182
    @media screen and (min-width: $width-l) {
      left: 28%;
    }
    // 768 -991
    @media screen and (min-width: $width-m) and (max-width: 991px) {
      left: 29%;
    }

    // 360-767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      left: 4%;
    }
    // <360
    @media screen and (max-width: $width-min-body) {
      left: 4%;
    }

    svg {
      transform: rotate(-180deg);
    }
  }


  // next 
  .results .button-next {

  right: 27%;
    // 1183
    // 992-1182
    @media screen and (min-width: $width-l) {
      right: 28%;
    }
    // 768 -991
    @media screen and (min-width: $width-m) and (max-width: 991px) {
      right: 29%;
    }

    // 360-767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      right: 4%;
    }
    // <360
    @media screen and (max-width: $width-min-body) {
      right: 4%;
    }

  }

  // svg 
  .results .button-arrow--small {
    @media screen and (max-width: $width-l) {
      width: 44px;
      height: 44px;
    }
  }

  .results .swiper-button-next {
    right: 27%;
    // 992-1182
    @media screen and (min-width: $width-l) {
      right: 28%;
    }
    // 768 -991
    @media screen and (min-width: $width-m) and (max-width: 991px) {
      right: 29%;
    }

    // 360-767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      right: 4%;
    }
    // <360
    @media screen and (max-width: $width-min-body) {
      right: 4%;
    }
  }

  .results .swiper-button-prev {
    left: 27%;
    // 1183
    // 992-1182
    @media screen and (min-width: $width-l) {
      left: 28%;
    }
    // 768 -991
    @media screen and (min-width: $width-m) and (max-width: 991px) {
      left: 29%;
    }

    // 360-767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      left: 4%;
    }
    // <360
    @media screen and (max-width: $width-min-body) {
      left: 4%;
    }
  }

  // honors-and-thanks__section****************************************
  .honors-and-thanks {
    margin-top: 132px;
    // 992
    @media only screen and (min-width: $width-l) {
      margin-top: 96px;
    }
    // 360
    @media only screen and (min-width: $width-min-body) {
      margin-top: 82px;
    }
  }

  // swiper for honors-and-thanks__section
  .honors-and-thanks .swiperHonor {
    display: flex;
    height: 100%;
    padding: 36px 10px 16px 10px;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  // adaptive for btn of swiper
  .honors-and-thanks .swiper-button-next,
  .honors-and-thanks .swiper-button-prev {
    position: absolute;
    z-index: 100;

    // 360 -767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      bottom: -0.7%;
      top: auto;
    }
  }

  // buttons for slide  honors-and-thanks
  .honors-and-thanks .swiper-button-next {
    right: -1%;
    // 360 -767
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      right: 10%;
    }
  }
  .honors-and-thanks .swiper-button-prev {
    left: -1%;
    @media screen and (min-width: $width-min-body) and (max-width: 767px) {
      left: 10%;
    }
  }

  // slide
  .honors-and-thanks .swiper-slide {
    height: auto;
    border-radius: 2px;
    box-shadow: $box-shadow-base;
    overflow: hidden;
  }
  .swiperHonor img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  // partners_section***********************************
  .partners {
    margin-top: 96px;
    margin-bottom: 64px;
    @media screen and (min-width: $width-xl) {
      margin-top: 132px;
    }

    //  styles for partners without a logo
    &_name {
      color: $color-third-gray;
      text-align: center;
      font-family: $font-family-base;
      font-size: 12px;
      font-weight: 500;
      line-height: 116%;
      text-transform: uppercase;
    }
  }

  .partners-container {
    @extend .results-container;
    gap: 36px;
    padding: 36px 48px 64px 48px;
    box-shadow: $box-shadow-base;
    background-color: $color-white;
    border-radius: $border-radius-base;
  }

  // list of logo partners
  .partners_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 42px;
    flex: 1 0 0;
    padding: 0;
    // 1183
    @media screen and (min-width: $width-xl) {
      gap: 76px;
    }
    // 360 -991
    @media screen and (min-width: $width-min-body) and (max-width: 991px) {
      gap: 48px 42px;
    }
  }
  .partners-card {
    align-self: stretch;
    max-width: 100px;
    // 768
    @media screen and (min-width: $width-m) {
      max-width: 140px;
    }
  }

  // tip is an external link
  .hint_wraper {
    display: block;
    position: relative;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
    width: 1px;
  }
  // text of hint
  .hint {
    display: none;
    color: $color-error;
    font-size: 12px;
    position: absolute;
  }

  .partners-card a:focus .hint,
  .partners-card a:hover .hint,
  .partners-card a:active .hint {
    display: inline-block;
  }
}
