@import "../variables.scss";

.donate {
    padding-top: 86px;
    padding-bottom: 86px;
    @media screen and (max-width: $width-l) {
       padding-top: 48px;
       padding-bottom: 48px;
    }

    .donate-content {
        background-color: $color-white;
        border-radius: 8px;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.21);
        display: flex;
        justify-content: space-between;
        gap: 25px;
        padding: 48px 48px 56px;
        @media screen and (max-width: $width-l) {
            padding: 32px 32px 56px;
            gap: 37px;
        }
        @media screen and (max-width: 616px) {
            background-color: transparent;
            border-radius: 0px;
            box-shadow: none;
            flex-direction: column;
            gap: 36px;
            padding: 0;
        }

        .donate-content-left {
            width: calc(440/1024*100vw);
            @media screen and (max-width: $width-l) {
                width: calc(329/864*100vw);
            }
            @media screen and (max-width: 850px) {
                width: calc(329/640*100vw);
        
            }
            @media screen and (max-width: 616px) {
                width: 100%;
            }
        }
    
        .donate-content-text {
            margin-top: 24px;
            
            :not(:last-child) {
                margin-bottom: 16px;
            }
        }
    
        .donate-content-right {
            display: flex;
            align-items: flex-start;
            gap: 48px;
            margin-top: 70px;
            width: calc(559/1024*100vw);

            @media screen and (max-width: $width-l) {
                gap: 24px;
                width: calc(498/864*100vw);
               
            }
            @media screen and (max-width: 850px) {
                align-items: start;
                flex-direction: column-reverse;
                margin-top: 0px;
                width: calc(257/640*100vw);
            }
            @media screen and (max-width: 616px) {
                gap: 48px;
                flex-direction: column;
                width: 100%;
            }

            .donate-donate-link {
                flex-grow: 0;
                flex-shrink: 0;

                .qr-code-wrapper {
                    width: 217px;
                    height: 217px;
                    margin-bottom: 16px;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .button--medium {
                    padding-left: 48px;
                    padding-right: 48px;
                }

            }

            .payment-details-wrapper {
                flex-grow: 1;
                flex-shrink: 1;

                .payment-details-title {
                    color: $color-orange;
                    font-family: $font-family-base;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 116%;
                    text-transform: uppercase;
                    margin-bottom: 29px;
                }

                .payment-details-text-bold {
                    font-weight: 500;
                }

                .account-wrapper, .card-number-wrapper {
                    display: flex;
                    align-items: center;
                }

                .account-wrapper {
                    margin-bottom: 29px;
                }

                .copy-to-clipboard {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-color: transparent;
                    padding: 0;
                    background-color: transparent;
                }

                .tooltiped {
                    position: relative;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        z-index: 9998;
                        top: 15px;
                        right: 250%;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid rgba(0,0,0,.72);
                    }
                    
                    &:after {
                        content: "Copied!";
                        display: block;
                        position: absolute;
                        z-index: 9999;
                        top: 20px;
                        right: 200%;
                        padding: 5px 8px;
                        font-family: $font-family-base;
                        font-size: 11px;
                        line-height: 1.5;
                        color: #fff;
                        text-align: center;
                        text-decoration: none;
                        text-shadow: none;
                        text-transform: none;
                        letter-spacing: normal;
                        word-wrap: break-word;
                        white-space: pre;
                        pointer-events: none;
                        background: $color-text-primary;
                        border-radius: 3px;
                        -webkit-font-smoothing: subpixel-antialiased;
                    }
                }
                
            }
        }
    }
}


