@import "../variables.scss";

// Hero section
.hero {
  padding: 142px 0;
  margin-bottom: 92px;
  color: $color-white;
  background-image: url("../../images/bg/main_bg_desk.jpg");
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $width-l) {
    margin-bottom: 48px;
    padding: 64px 0;
    background-image: url("../../images/bg/main_bg_992.jpg");
  }
  @media screen and (max-width: $width-m) {
    background-image: url("../../images/bg/main_bg_768.jpg");
  }
  @media screen and (max-width: $width-xs) {
    padding: 53px 0;
  }

  .hero-wrapper {
    max-width: 744px;
    margin: 0 auto;
    @media screen and (max-width: $width-l) {
      max-width: 460px;
    }
    @media screen and (max-width: $width-s) {
      max-width: 400px;
    }
    @media screen and (max-width: $width-xs) {
      max-width: 268px;
    }
  }

  .top {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    @media screen and (max-width: $width-l) {
      gap: 16px;
    }
    @media screen and (max-width: $width-xs) {
      flex-direction: column;
      margin-bottom: 32px;
      gap: 0;
    }
  }

  .animated-title {
    min-width: 364px;
    min-height: 147px;
    font-family: $font-family-accent;
    font-size: 147px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    color: transparent;
    @media screen and (max-width: $width-l) {
      min-width: 245px;
      min-height: 99px;
      font-size: 99px;
    }
    @media screen and (max-width: $width-s) {
      min-width: 198px;
      min-height: 80px;
      font-size: 80px;
    }
    @media screen and (max-width: $width-xs) {
      min-width: 267px;
      min-height: 108px;
      font-size: 108px;
    }

    &._active {
      color: $color-white;
    }
  }

  .slogan {
    font-size: 27px;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    @media screen and (max-width: $width-l) {
      font-size: 15px;
    }
    @media screen and (max-width: $width-xs) {
      font-size: 20px;
    }
  }

  .text {
    margin-bottom: 64px;
    font-size: 25px;
    line-height: 124%;
    @media screen and (max-width: $width-l) {
      margin-bottom: 48px;
      font-size: 19px;
    }
    @media screen and (max-width: $width-xs) {
      font-size: 17px;
    }
  }

  .contact {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
    @media screen and (max-width: $width-xs) {
      margin-left: unset;
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .contact-phone {
    font-size: 34px;
    line-height: 80%;
    font-weight: 500;
    @media screen and (max-width: $width-l) {
      font-size: 27px;
    }
  }

  .contact-text {
    font-size: 21px;
    text-transform: capitalize;
    @media screen and (max-width: $width-l) {
      font-size: 17px;
    }
    @media screen and (max-width: $width-xs) {
      font-size: 17px;
    }
  }
}


// About section
.about {
  margin-bottom: 132px;
  @media screen and (max-width: $width-l) {
    margin-bottom: 96px;
  }
  @media screen and (max-width: $width-xs) {
    margin-bottom: 32px;
  }

  .about-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    @media screen and (max-width: $width-l) {
      gap: 32px;;
    }
    @media screen and (max-width: $width-m) {
      flex-direction: column;
      align-items: center;
    }
  }

  .image {
    flex: 1;
    min-height: 100%;

    img {
      max-width: 100%;
      height: 100%;
      max-height: 390px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .content {
    flex: 1;
  }

  .title-gradient-h1 {
    margin-bottom: 24px;
    @media screen and (max-width: $width-xl) {
      margin-bottom: 16px;
    }
    @media screen and (max-width: $width-s) {
      margin-bottom: 24px;
    }
  }

  .button--medium {
    margin-top: 20px;
    @media screen and (max-width: $width-xl) {
      margin-top: 6px;
    }
    @media screen and (max-width: $width-s) {
      margin-top: 20px;
    }
  }

  p {
    padding-bottom: 16px;
  }

  strong {
    margin-right: 4px;
    font-weight: 500;
    text-transform: uppercase;
    background: $color-orange;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//Work directions section
.work {
  margin-bottom: 132px;
  @media screen and (max-width: $width-l) {
    margin-bottom: 96px;
  }
  @media screen and (max-width: $width-s) {
    margin-bottom: 82px;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .grid-item {
    width: calc(33.33% - (2 * 32px / 3));
    @media screen and (max-width: $width-l) {
      width: calc(50% - (1 * 32px / 2));
    }
    @media screen and (max-width: $width-s) {
      width: 100%;
    }

    &.description {
      @media screen and (max-width: $width-l) {
        width: 100%;
      }

      p, h2 {
        max-width: 300px;
        @media screen and (max-width: $width-l) {
          max-width: 447px;
        }
        @media screen and (max-width: $width-s) {
          max-width: 100%;
        }
      }

      h2 {
        margin-bottom: 24px;
      }
    }
  }

  .card {
    height: 100%;
    border-radius: $border-radius-base;
    overflow: hidden;
    perspective: 800px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $width-s) {
      flex-direction: column-reverse;
      box-shadow: $box-shadow-base;
    }

    &:hover {
      .top {
        @media screen and (min-width: $width-s+1) {
          transform: rotateY(180deg);
        }
      }
    }

    &:hover, &:focus {
      .top {
        @media screen and (max-width: $width-s) {
          height: 180px;
        }
      }
    }
  }

  .top {
    transition: all $transition-base;
    transform-style: preserve-3d;
    position: relative;
    height: 200px;

    @media screen and (max-width: $width-l) {
      height: 270px;
    }
    @media screen and (max-width: $width-m) {
      height: 220px;
    }
    @media screen and (max-width: $width-s) {
      height: 0;
    }
  }

  .top-front {
    position: absolute;
    width: 100%;
    height: 100%;
    @media screen and (max-width: $width-s) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .top-back {
    padding: 10px 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #eeeeeede;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    @media screen and (max-width: $width-s) {
      transform: unset;
    }

    p {
      margin-bottom: 16px;
      text-align: center;
      @media screen and (max-width: $width-m) {
        margin-bottom: 6px;
      }
    }

    a {
      padding: 10px 0;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 100%;
      text-transform: capitalize;
      text-decoration: underline;
      transition: all $transition-base;

      &:hover {
        color: darken($color-blue-light, 20%);
      }
    }
  }

  .bottom {
    flex: auto;
    padding: 12px 16px;
    min-height: 68px;
    color: $color-white;
    background-image: url(../../images/bg/wd_card_min.png);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $width-s) {
      height: auto;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
    }
  }
}


// Help section
.help {
  padding: 54px 66px;
  margin-bottom: 132px;
  color: $color-white;
  background-image: url("../../images/bg/poryad_bg_desk.jpg");
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $width-l) {
    padding: 64px 0;
    margin-bottom: 96px;
    background-image: url("../../images/bg/poryad_bg_desk_992.jpg");
  }
  @media screen and (max-width: $width-xs) {
    padding: 50px 0;
    margin-bottom: 82px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 78px;
    font-weight: 400;
    line-height: 100%;
    font-family: $font-family-accent;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: $width-s) {
      font-size: 64px;
    }
  }

  .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 72px;
    @media screen and (max-width: $width-s) {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }

  .help-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 10px;
      font-size: 22px;
      text-align: center;
    }
  }
}

// Events section
.events {
  margin-bottom: 132px;
  @media screen and (max-width: $width-l) {
    margin-bottom: 96px;
  }
  @media screen and (max-width: $width-s) {
    margin-bottom: 82px;
  }

  .hidden-on-desktop {
    @media screen and (min-width: $width-l+1) {
      display: none !important;
    }
  }

  .title-gradient-h1 {
    margin-bottom: 24px;
    @media screen and (max-width: $width-s) {
      margin-bottom: 16px;
    }
  }

  .text {
    @media screen and (max-width: $width-l) {
      margin-bottom: 32px;
    }
  }

  .events-wrapper {
    display: flex;
    gap: 0 32px;
    @media screen and (max-width: $width-xl) {
      gap: 0 16px;
    }
    @media screen and (max-width: 660px) {
      display: block;
    }
  }

  .left {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $width-l) {
      flex: auto;
    }
    @media screen and (max-width: 660px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  .right {
    max-width: 352px;
    flex: 1;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $width-l) {
      display: none;
      visibility: hidden;
      pointer-events: none;
    }

    .title-gradient-h1 {
      text-align: right;
      @media screen and (max-width: $width-xl) {
        margin-bottom: 10px;
      }
    }

    .text {
      margin-bottom: 10px;
      text-align: right;
    }

    .button--large {
      margin-top: auto;
    }
  }

  .content-event-card {
    width: calc(50% - (1 * 32px / 2));
    @media screen and (max-width: 660px) {
      width: 100%;
      max-height: 500px;
    }
  }

  .text.hidden-on-desktop {
    font-size: 22px;
    line-height: 132%;
    @media screen and (max-width: $width-s) {
      font-size: 16px;
    }
  }

  .button--large.hidden-on-desktop {
    max-width: 336px;
    display: flex;
    margin: 32px auto 0;

    @media screen and (max-width: $width-xs) {
      max-width: 100%;
    }
  }
}


// Results section
.results {
  margin-bottom: 132px;
  @media screen and (max-width: $width-l) {
    margin-bottom: 96px;
  }

  .results-wrapper {
    padding: 42px 36px 64px;
    background-color: $color-white;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $width-s) {
      padding: 32px 16px;
    }
    @media screen and (max-width: $width-xs) {
      padding: 32px 8px;
    }
  }

  .title-gradient-h1 {
    margin-bottom: 52px;
    text-align: center;
    @media screen and (max-width: $width-l) {
      margin-bottom: 24px;
    }
  }

  .text {
    max-width: 670px;
    margin: 0 0 52px;
    text-align: center;
    font-size: 20px;
    @media screen and (max-width: $width-l) {
      padding: 0 8px;
    }
  }

  .card-list {
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 28px;
    color: $color-third-gray;
    @media screen and (max-width: $width-s) {
      gap: 32px 16px;
    }
  }

  .card {
    width: 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: $width-s) {
      width: 164px;
    }
    @media screen and (max-width: $width-xs) {
      width: 148px;
    }
  }

  .card-number {
    margin-bottom: 12px;
    font-size: 44px;
    font-weight: 400;
    line-height: 100%;
    font-family: $font-family-accent;
    text-transform: uppercase;
    @media screen and (max-width: $width-xs) {
      margin-bottom: 4px;
      font-size: 30px;
    }
  }

  .card-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 116%;
    text-transform: uppercase;
    @media screen and (max-width: $width-s) {
      margin-bottom: 4px;
      font-size: 18px;
    }
  }

  .card-description {
    line-height: 112%;
  }

  .text-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px 96px;
    @media screen and (max-width: $width-xl) {
      gap: 16px 66px;
    }
    @media screen and (max-width: $width-l) {
      gap: 16px 46px;
    }
    @media screen and (max-width: $width-m) {
      gap: 16px 36px;
    }
    @media screen and (max-width: $width-s) {
      gap: 16px 0;
      padding: 0 20px;
    }

    p {
      width: 440px;
      @media screen and (max-width: $width-xl) {
        width: 45%;
      }
      @media screen and (max-width: $width-s) {
        width: 100%;
      }
    }
  }
}

// Gallery section
.gallery {
  margin-bottom: 64px;
  @media screen and (max-width: $width-l) {
    margin-bottom: 32px;
  }

  .title-gradient-h1 {
    margin-bottom: 28px;
  }

  .carousel-wrapper {
    margin-bottom: 28px;
    position: relative;
    @media screen and (max-width: $width-s) {
      margin-bottom: 50px;
    }
  }

  .swiper-wrapper {
    height: 252px;
    @media screen and (max-width: $width-l) {
      height: 320px;
    }
    @media screen and (max-width: $width-m) {
      height: 234px;
    }
  }

  .swiper-slide {
    border-radius: $border-radius-base;
    overflow: hidden;
    min-height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button-next,
  .button-prev {
    position: absolute;
    top: calc(50% - 22px);
    @media screen and (max-width: $width-s) {
      top: auto;
      bottom: -22px;
    }
  }

  .button-prev {
    left: -14px;
    @media screen and (max-width: $width-s) {
      left: 18px;
    }

    svg {
      transform: rotate(-180deg);
    }
  }

  .button-next {
    right: -14px;
    @media screen and (max-width: $width-s) {
      right: 18px;
    }
  }

  .button--large {
    display: flex;
    width: fit-content;
    margin-left: auto;
    padding-left: 58px;
    padding-right: 58px;
    @media screen and (max-width: $width-xs) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}