@import "variables.scss";

.button {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: $border-radius-button;
  background: $gradient-blue;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform $transition-base;
  white-space: nowrap;
  user-select: none;

  &:active {
    transform: scale(0.96);
  }

  // Filled buttons
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: $gradient-orange-btn;
    transition: opacity $transition-base;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &--small {
    @extend .button;
    padding: 10px 12px;
    font-size: 16px;
  }

  &--medium {
    @extend .button;
    padding: 13px 14px;
  }

  &--large {
    @extend .button;
    font-size: 20px;
    padding: 17px 16px;
    border-radius: 8px;
  }

  &--header {
    @extend .button;
    background: $gradient-orange-btn;
    padding: 10px 12px;

    &:before {
      background: $gradient-orange-btn-reverse;
    }
  }

  &--email {
    @extend .button;
    padding: 13px 16px;
  }

  // Outlined buttons
  &--outlined {
    @extend .button;
    padding: 13px 14px;
    border: 2px solid transparent;
    background: transparent;
    border-image: url("../images/button-border-blue.svg") 4 / 4px stretch;

    &:before {
      display: none;
    }

    &::after {
      box-sizing: unset;
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
      background: transparent;
      border-image: url("../images/button-border-orange.svg") 4 / 4px stretch;
      transition: opacity $transition-base;
    }

    &:hover::after {
      opacity: 1;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      position: relative;
      background-image: linear-gradient(
                      96deg,
                      #65c0ff 0%,
                      #2aa2f4 30%,
                      #f18739 60%,
                      #edd80c 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 300% 100%;
      background-position: top left;
      transition: all $transition-base;
    }

    &:hover span {
      background-position: top left 100%;
    }
  }

  // Buttons at Homepage
  &--help {
    @extend .button;
    background: transparent;
    box-shadow: 0px 0px 0px 2px $color-white inset;
    padding: 14px 12px;
    gap: 6px;
  }

  &--phone {
    @extend .button;
    background: transparent;
    box-shadow: 0px 0px 0px 2px $color-white inset;
    padding: 14px 16px;
    gap: 12px;
  }
}

// Arrow buttons
.button-arrow {
  color: $color-white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-button;
  background: $gradient-orange-btn;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform $transition-base;
  user-select: none;

  &:active {
    transform: scale(0.96);
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: $gradient-orange-btn-reverse;
    transition: opacity $transition-base;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &--small {
    @extend .button-arrow;
    width: 32px;
    height: 32px;
  }

  &--medium {
    @extend .button-arrow;
    width: 44px;
    height: 44px;
  }

  &--up {
    @extend .button-arrow;
    width: 52px;
    height: 52px;
    background: $gradient-colorful;

    &:before {
      background: $gradient-colorful-reverse;
    }
  }
}

// Tags
.tag {
  font-weight: 400;
  line-height: 100%;
  color: $color-white;
  border-radius: 50px;
  white-space: nowrap;
  user-select: none;
  background-color: $color-blue-light;

  &--small {
    @extend .tag;
    padding: 5px 9px;
    font-size: 14px;
  }

  &--large {
    @extend .tag;
    padding: 4px 14px;
    font-size: 20px;
    line-height: 132%;
  }

  //  colors
  &--green {
    background-color: $color-green;
  }

  &--orange {
    background-color: $color-orange;
  }

  &--violet {
    background-color: $color-violet;
  }
}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  user-select: none;

  .page-numbers {
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    color: $color-blue-light;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-button;
    border: 2px solid $color-blue-light;
    transition: all $transition-base;
    white-space: nowrap;

    &:active:not(.dots) {
      transform: scale(0.9);
    }

    &:hover:not(.dots) {
      color: $color-white;
      background: $color-blue-light;
    }

    &.current {
      color: $color-white;
      background: $color-blue-light;
    }
  }
}
