@import "variables.scss";

body {
  min-width: $width-min-body;
  color: $color-text-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
}

.container {
  max-width: $width-max-container;
  margin: 0 auto;
  padding: 0 32px;
  height: 100%;
  @media (max-width: $width-s) {
    padding: 0 16px;
  }
}