@import "variables.scss";

body {
  min-width: $width-min-body;
  color: $color-text-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-family: $font-family-base;

  background-image: url("../images/bg/brick_bg-desktop-min.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  @media (max-width: $width-l) {
    background-image: url("../images/bg/break_bg.jpg");
  }
}

.container {
  max-width: $width-max-container;
  margin: 0 auto;
  padding: 0 32px;
  height: 100%;
  @media (max-width: $width-s) {
    padding: 0 16px;
  }
}

.wrapper {
  padding-top: 94px;
  @media (max-width: $width-xl) {
    padding-top: 80px;
  }
  @media (max-width: $width-xs) {
    padding-top: 64px;
  }
}

.title-gradient-h1 { // gradient title for section headline
  font-size: 44px;
  line-height: 100%;
  font-weight: 400;
  background: $gradient-orange-headline;
  font-family: $font-family-accent;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: $width-s) {
    font-size: 40px;
  }
}

.title-gradient-h2 { // title for posts at gallery, work directions etc.
  font-size: 30px;
  line-height: 116%;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-orange;
}

.title-page { // white title for page heading
  font-size: 38px;
  line-height: 116%;
  font-weight: 400;
  color: $color-white;
  font-family: $font-family-accent;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: $width-l) {
    font-size: 30px;
    line-height: 100%;
  }
}

.title-event { // white title for post page heading
  font-size: 30px;
  font-weight: 500;
  line-height: 116%;
  color: $color-white;
  text-transform: uppercase;
  @media (max-width: $width-l) {
    font-size: 20px;
  }
}
