@import "variables.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: $color-white;
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.21);

  .header-content {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: 158px;
    margin-right: 20px;
    @media (max-width: $width-xl) {
      max-width: 128px;
    }
    @media (max-width: $width-xs) {
      max-width: 94px;
    }

    img {
      max-width: 100%;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--mobile .menu-nav {
      right: 0;
    }
  }

  .menu-nav {
    transition: right $transition-base;
    @media (max-width: $width-mobile-menu) {
      position: absolute;
      top: 100%;
      right: -200%;
      background-color: $color-white;
      padding: 18px 48px 36px 48px;
      border-radius: 0 0 0 $border-radius-base;
      box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.21);
      border-top: 1px solid lighten($color-light-gray, 6%);
      min-height: 100%;
      overflow: auto;
      max-height: 83vh;
    }
    @media (max-width: $width-xs) {
      top: 99%;
      width: 100%;
      border-radius: 0;
      border-top: 1px solid lighten($color-light-gray, 10%);
    }
  }

  .menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $width-mobile-menu) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  .menu-item {
    margin-right: 24px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    @media (max-width: $width-xl) and (min-width: $width-mobile-menu+1px) {
      font-size: 16px;
    }

    a {
      padding: 4px 0;
      width: fit-content;
    }

    &.current-menu-item {
      background: $gradient-blue;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .menu-toggle {
    width: 44px;
    height: 44px;
    padding: 0;
    margin-right: 24px;
    border: 0;
    background: url("../images/burger-button.svg");
    display: none;
    pointer-events: none;
    visibility: hidden;
    @media (max-width: $width-mobile-menu) {
      display: inline-block;
      pointer-events: all;
      visibility: visible;
    }
    @media (max-width: $width-xs) {
      margin-right: 0;
    }
  }

  .button--header {
    @media (max-width: $width-xl) and (min-width: $width-mobile-menu+1px) {
      font-size: 16px;
    }

    &--desktop {
      @media (max-width: $width-xs) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @media (max-width: $width-xs) {
        display: inline-flex;
        margin-top: 24px;
        width: 100%;
      }
    }
  }
}
