@import "../variables.scss";

.single-event-wrapper {
  margin-bottom: 132px;
  display: flex;
  gap: 32px;

  @media screen and (max-width: $width-m) {
    flex-direction: column;
  }

  .main-content {
    flex: auto;
  }

  .post {
    margin-bottom: 32px;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    background-color: $color-white;
  }

  .socials {
    padding: 0 20px 24px;
    color: $color-third-gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: $width-s) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    p {
      margin-right: 16px;
      font-size: 17px;
      line-height: 116%;
      @media screen and (max-width: $width-s) {
        margin-left: 5px;
      }
    }

    a {
      padding: 5px;
    }

  }

  .icon-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .comments {
    padding: 24px 24px 36px;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    background-color: $color-white;
  }

  .sidebar {
    width: 352px;
    min-width: 352px;
    @media screen and (max-width: $width-l) {
      width: 320px;
      min-width: 320px;
    }
    @media screen and (max-width: $width-m) {
      width: 100%;
      display: flex;
      gap: 24px;
      @media screen and (max-width: ($width-m)-80) {
        flex-direction: column;
      }
    }
  }

  .small-card-list {
    @media screen and (max-width: $width-m) {
      margin-bottom: -24px;
      width: 320px;
      min-width: 320px;
    }
    @media screen and (max-width: ($width-m)-80) {
      width: 100%;
      min-width: 320px;
    }
  }

  .card-large {
    position: sticky;
    top: 110px;
    width: 100%;
    height: fit-content;
  }
}

.events-text-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 21px;

  p {
    text-align: justify;
  }

  strong {
    font-weight: 500;
  }

  em,
  a {
    color: $color-orange;
    font-style: normal;
    font-weight: 500;
  }

  a {
    text-decoration: underline;
  }
}