@import "../variables.scss";

.page-banner {
  padding: 24px 0;
  background-size: cover;
  background-position: center;
  background-color: rgba($color-light-gray, 0.5);

  @media screen and (max-width: $width-l) {
    padding: 13px 0;
  }

  &--single {
    padding: 27px 0;
    @media screen and (max-width: $width-l) {
      padding: 16px 0;
    }
  }
}